.App {
  background-color: #A6C6B0;
  min-height: 100vh;
  margin: 0;
  width: 100%;
}

.card {
  background: #B76B7D;
  color: #F2EEE9;
  font: "Times New Roman";
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #F2EEE9;
}

h2 {
  color: #F2EEE9;
}

.tasks {
  background: #B76B7D;
  color: #F2EEE9;
  font: "Times New Roman";
  padding: 20px;
  border-radius: 50px;
  width: 30%;
  text-align: left;
}

.breaks {
  height: 20px;
  background-color: #A6C6B0;
}

